
/* first card */
.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 280px 120px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 25px;
    background: white;
    box-shadow: 5px 5px 15px yellow;
    font-family: roboto;
    text-align: center;
  }
  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }
h3{
    position: absolute;
    top: -12px;
    left: 25px;
    font-size: 25px;
  }
  .curve {
    position: relative;
    top: 20px;
    left: -50px;
    width: 310px;
    height: 50px;
    background: rgb(52,58,64);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    z-index: 9999999;
  }
  .curve::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 30px;
    height: 50px;
    background: rgb(52,58,64);
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    z-index: 3;
  }
  .curve::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 25px;
    height: 30px;
    background: rgb(52,58,64);
    border-bottom-left-radius: 5px;
  }
  .card-image {
    grid-area: image;
    height: 280px;
    
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
  }
  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(52,58,64);
    font-size:18px;
  }
  .card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    background: rgb(52,58,64);
  }
  .card-stats .stat {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card-stats .type{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card-stats .value{
      font-size: 22px;
      font-weight: 500;
  }
  .card-stats .border{
      border-left: 1px solid rgb(80, 10, 10);
      border-right: 1px solid rgb(80, 10, 10);
  }
  .card-stats .value sup{
      font-size: 12px;
  }
  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px red;
  }
  .card {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  /* second card */
.card2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 280px 120px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-image2 {
    grid-area: image;
  }
  .card-text2 {
    grid-area: text;
  }
  .card-stats2 {
    grid-area: stats; 
  }
  .curve2 {
    position: relative;
    top: 20px;
    left: -30px;
    width: 310px;
    height: 50px;
    background: rgb(52,58,64);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    z-index: 9999999;
  }
  .curve2::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 30px;
    height: 50px;
    background: rgb(52,58,64);
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    z-index: 3;
  }
  .curve2::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 25px;
    height: 30px;
    background: rgb(52,58,64);
    border-bottom-left-radius: 5px;
  }
  .card-image2 {
    grid-area: image;
    background: url("images/photo2.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-text2 {
    grid-area: text;
    margin: 25px;
  }
  .card-text2 .date2 {
    color: rgb(52,58,64);
    font-size:18px;
  }
  .card-text2 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text2 h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats2 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: rgb(52,58,64);
  }
  .card-stats2 .stat2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  } 
  .card-stats2 .type2{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card-stats2 .value2{
      font-size: 22px;
      font-weight: 500;
  }
  .card-stats2 .border{
      border-left: 1px solid rgb(80, 10, 10);
      border-right: 1px solid rgb(80, 10, 10);
  }
  .card-stats3 .value2 sup{
      font-size: 12px;
  }
  .card2:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card2 {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
   /* third card */
   .card3 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 280px 120px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }
  .card-image3 {
    grid-area: image;
  }
  .card-text3 {
    grid-area: text;
  }
  .card-stats3 {
    grid-area: stats; 
  }
  .curve3 {
    position: relative;
    top: 20px;
    left: -30px;
    width: 310px;
    height: 50px;
    background: rgb(52,58,64);
    border-radius: 20px;
    border-bottom-left-radius: 0;
    z-index: 9999999;
  }
  .curve3::before{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 30px;
    height: 50px;
    background: rgb(52,58,64);
    border-bottom-left-radius: 60px;
    border-top-left-radius: 60px;
    z-index: 3;
  }
  .curve3::after{
    content: '';
    position: absolute;
    top: 50px;
    left: 0;
    width: 24px;
    height: 30px;
    background: rgb(52,58,64);
    border-bottom-left-radius: 5px;
  }
  .card-image3 {
    grid-area: image;
    background: url("images/photo3.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }
  .card-text3 {
    grid-area: text;
    margin: 25px;
  }
  .card-text3 .date3 {
    color: rgb(52,58,64);
    font-size:18px;
  }
  .card-text3 p {
    color: grey;
    font-size:15px;
    font-weight: 300;
  }
  .card-text3 h2 {
    margin-top:0px;
    font-size:28px;
  }
  .card-stats3 {
    grid-area: stats; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background: green;
  }
  .card-stats3 .stat3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
    color: white;
    padding:10px;
  }
  .card-stats3 .type3{
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .card-stats3 .value3{
      font-size: 22px;
      font-weight: 500;
  }
  .card-stats3 .border{
      border-left: 1px solid rgb(80, 10, 10);
      border-right: 1px solid rgb(80, 10, 10);
  }
  .card3:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card3 {
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }
  .card-stats3 .value3 sup{
      font-size: 12px;
  }